<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> We could diagnose some stuff <%= session[:username] %>! </p>
  </div>
 
  <form id="new_message_form">
    <%= label_tag(:channel, "Channel:") %>
<%= select_tag(:channel, options_for_select([["/messages/new"],[ "/messages/zonestatus"]])) %>
    <%= label_tag(:channel, "Channel:") %>
 	<%= text_field_tag(:stamp) %>
    <%= label_tag(:channel, "Channel:") %>
 <%= text_field_tag(:zone) %>
    <%= label_tag(:channel, "Channel:") %>
 <%= text_field_tag(:status) %>
    <input type="submit" value="Send">
  </form>
</div>
<script>
  $(function() {
    // Create a new client to connect to Faye
 var client = new Faye.Client('http://192.168.1.77:9292/faye');
 
    // Handle form submissions and post messages to faye
    $('#new_message_form').submit(function(){
      // Publish the message to the public channel
      client.publish($('#channel').val(), {msg: $('#message').val()});

//      client.publish('/messages/new', $('#message').val());
 
      // Clear the message box
      $('#message').val('');
 
      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });
  });
</script>
