<div class="row">
  <div id="notice"><%= notice %></>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Zone ID:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.zone_id %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Name:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Div:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.div %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>X pos:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.x %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Y pos:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.y %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Width:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.width %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <b>Height:</b>
  </div>
  <div class="col-md-2">
    <%= @zone.height %>
  </div>
</div>


<%= link_to 'Edit', edit_zone_path(@zone), :class => 'btn default-btn' %>
<%= link_to 'Back', zones_path, :class => 'btn default-btn' %>
