<!DOCTYPE html>
<html>
<head>
  <title>Codesec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= 
    begin
      @setting = Setting.find(1)
      javascript_include_tag @setting.fayeURL+".js" if controller_name=="dashboard" or controller_name=="diagnostics"
    rescue ActiveRecord::RecordNotFound => e
     "<!-- O Snap!  No Settings found...  Can't include Faye JS Link! -->".html_safe
    end %>
  <%= javascript_include_tag "bubbles" if controller_name=="dashboard"  %>
  <%= javascript_include_tag "jquery.sparkline.min" if controller_name=="dashboard"  %>
  <%= javascript_include_tag "dashboard" if controller_name=="dashboard"  %>
  <%= csrf_meta_tags %>
</head>
<body <%= if (controller_name=="dashboard") then "class=body-dashboard" end %>>
<%= render 'layouts/header.html' %>
<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
<%= yield %>
<%= render 'layouts/footer.html' %>
</div>
</body>
</html>
